body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    text-align: center;
}
    header a {
        text-decoration: none;
        color: black;
    }
    header > img {
        display: inline-block;
        height: 100px;
        float: left;
        margin: 20px 80px;
    }
    header > nav {
        display: inline-block;
        width: 40%;
        margin-top: 60px;
        word-spacing: 20px;
    }
    header > ol {
        display: inline-block;
        width: 20%;
        margin-top: 60px;
        word-spacing: 20px;
        margin-left: 40px;
    }
.hero {
    display: inline-block;
    width: 100%;
    background-image: url(../img/hero_bg_2.jpg);
    height: 90vh;
    background-size: cover;
    background-position: bottom center;
}
    .hero > .container {
        display: inline-block;
        padding: 0 calc( (100% - 800px) / 2);
        text-align: center;
        color: white;
    }
        .hero > .container > h1 {
            display: inline-block;
            margin-top: 250px;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 80px;
            text-shadow: 10px 10px 20px black;
        }
        .hero > .container > p {
            display: inline-block;
            font-size: 20px;
            padding-top: 40px;
            padding-bottom: 50px;
            text-shadow: 5px 5px 10px black;
            line-height: 150%;
        }
main {
    display: flex;
    width: 1200px;
    margin: 0 calc( (100% - 1200px) / 2);
}
    main > .container1 {
        display: inline-block;
        width: 33%;
        transform: translate(0 , -70px);
    }
        main > .container1 > .img1 {
            display: inline-block;
            background-image: url(../img/img_1.jpg);
            width: 100%;
            height: 500px;
            background-size: cover;
            background-position: bottom center;
            position: relative;
        }
    main > .container2 {
        display: inline-block;
        width: 33%;
        transform: translate(0 , -70px);
    }
        main > .container2 > .img2 {
            display: inline-block;
            background-image: url(../img/img_2.jpg);
            width: 100%;
            height: 500px;
            background-size: cover;
            background-position: bottom center;
            position: relative;
        }
    main > .container3 {
        display: inline-block;
        width: 33%;
        transform: translate(0 , -70px);
    }
        main > .container3 > .img3 {
            display: inline-block;
            background-image: url(../img/img_3.jpg);
            width: 100%;
            height: 500px;
            background-size: cover;
            background-position: bottom center;
            position: relative;
        }
    main h3 {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 25px;
        position: absolute;
        bottom: 25px;
        text-shadow: 3px 3px 5px black;
    }
        main  .img-left {
            display: inline-block;
            width: 30%;
            text-align: center;
            margin-top: 60px;
        }
        main  .img-right {
            display: inline-block;
            width: 60%;
        }
        main h4 {
            display: inline-block;
            margin-top: 60px;
            font-size: 20px;
        }
        main p {
            display: inline-block;
            margin-top: 10px;
        }
        main a {
            display: inline-block;
            margin-top: 20px;
            color: red;
            text-decoration: none;
        }
section {
    display: inline-block;
    width: 100%;
    background-color: lightgrey;
    padding-bottom: 30px;
}
    section > h2 {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 20px 0;
        font-size: 30px;
    }
    section > .container4 {
        display: inline-block;
        margin: 0 calc( (100% - 900px) / 2);
    }
    section > .container4 > img {
        display: inline-block;
        width: 500px;
        background-position: bottom center;
    }
    section > .container4 > .txt-container {
        display: inline-block;
        width: 40%;
        background-color: #fff;
        padding: 80px 50px;
        top: 50%;
        transform: translate(-50px , 30%);
        font-size: 17px;
        color: gray;
    }
            section span {
                display: inline-block;
                margin-top: 25px;
                font-style: italic;
           }
           


