body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    text-align: center;
}
    header a {
        text-decoration: none;
        color: black;
    }
    header > img {
        display: inline-block;
        height: 100px;
        float: left;
        margin: 20px 80px;
    }
    header > nav {
        display: inline-block;
        width: 40%;
        margin-top: 60px;
        word-spacing: 20px;
        float: left;
    }
    header > ol {
        display: inline-block;
        width: 20%;
        margin-top: 60px;
        word-spacing: 20px;
    }
.hero {
    display: inline-block;
    width: 100%;
    background-image: url(../img/hero_bg_2.jpg);
    height: 90vh;
    background-size: cover;
    background-position: bottom center;
    position: relative;
}
    .hero > .container {
        display: inline-block;
        padding: 0 calc( (100% - 800px) / 2);
        text-align: center;
        color: white;
    }
        .hero > .container > h1 {
            display: inline-block;
            margin-top: 250px;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 80px;
            text-shadow: 10px 10px 20px black;
        }
        .hero > .container > p {
            display: inline-block;
            font-size: 20px;
            padding-top: 40px;
            padding-bottom: 50px;
            text-shadow: 5px 5px 10px black;
            line-height: 150%;
        }